@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Font Awesome 5 Icons</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!--Get your own code at fontawesome.com-->
</head>
<body>

    <h1>fas fa-chess</h1>

    <i class='fas fa-chess'></i>
    <i class='fas fa-chess' style='font-size:24px'></i>
    <i class='fas fa-chess' style='font-size:36px'></i>
    <i class='fas fa-chess' style='font-size:48px;color:red'></i>
    <br>

    <p>Used on a button:</p>
    <button style='font-size:24px'>Button <i class='fas fa-chess'></i></button>

    <p>Unicode:</p>
    <i style='font-size:24px' class='fas'>&#xf439;</i>

</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>Font Awesome 5 Icons</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!--Get your own code at fontawesome.com-->
</head>
<body>

    <h1>fas fa-chess-bishop</h1>

    <i class='fas fa-chess-bishop'></i>
    <i class='fas fa-chess-bishop' style='font-size:24px'></i>
    <i class='fas fa-chess-bishop' style='font-size:36px'></i>
    <i class='fas fa-chess-bishop' style='font-size:48px;color:red'></i>
    <br>

    <p>Used on a button:</p>
    <button style='font-size:24px'>Button <i class='fas fa-chess-bishop'></i></button>

    <p>Unicode:</p>
    <i style='font-size:24px' class='fas'>&#xf43a;</i>

</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>Font Awesome 5 Icons</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!--Get your own code at fontawesome.com-->
</head>
<body>

    <h1>fas fa-chess-king</h1>

    <i class='fas fa-chess-king'></i>
    <i class='fas fa-chess-king' style='font-size:24px'></i>
    <i class='fas fa-chess-king' style='font-size:36px'></i>
    <i class='fas fa-chess-king' style='font-size:48px;color:red'></i>
    <br>

    <p>Used on a button:</p>
    <button style='font-size:24px'>Button <i class='fas fa-chess-king'></i></button>

    <p>Unicode:</p>
    <i style='font-size:24px' class='fas'>&#xf43f;</i>

</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Font Awesome 5 Icons</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!--Get your own code at fontawesome.com-->
</head>
<body>

    <h1>fas fa-chess-knight</h1>

    <i class='fas fa-chess-knight'></i>
    <i class='fas fa-chess-knight' style='font-size:24px'></i>
    <i class='fas fa-chess-knight' style='font-size:36px'></i>
    <i class='fas fa-chess-knight' style='font-size:48px;color:red'></i>
    <br>

    <p>Used on a button:</p>
    <button style='font-size:24px'>Button <i class='fas fa-chess-knight'></i></button>

    <p>Unicode:</p>
    <i style='font-size:24px' class='fas'>&#xf441;</i>

</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>Font Awesome 5 Icons</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!--Get your own code at fontawesome.com-->
</head>
<body>

    <h1>fas fa-chess-pawn</h1>

    <i class='fas fa-chess-pawn'></i>
    <i class='fas fa-chess-pawn' style='font-size:24px'></i>
    <i class='fas fa-chess-pawn' style='font-size:36px'></i>
    <i class='fas fa-chess-pawn' style='font-size:48px;color:red'></i>
    <br>

    <p>Used on a button:</p>
    <button style='font-size:24px'>Button <i class='fas fa-chess-pawn'></i></button>

    <p>Unicode:</p>
    <i style='font-size:24px' class='fas'>&#xf443;</i>

</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Font Awesome 5 Icons</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!--Get your own code at fontawesome.com-->
</head>
<body>

    <h1>fas fa-chess-queen</h1>

    <i class='fas fa-chess-queen'></i>
    <i class='fas fa-chess-queen' style='font-size:24px'></i>
    <i class='fas fa-chess-queen' style='font-size:36px'></i>
    <i class='fas fa-chess-queen' style='font-size:48px;color:red'></i>
    <br>

    <p>Used on a button:</p>
    <button style='font-size:24px'>Button <i class='fas fa-chess-queen'></i></button>

    <p>Unicode:</p>
    <i style='font-size:24px' class='fas'>&#xf445;</i>

</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>Font Awesome 5 Icons</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!--Get your own code at fontawesome.com-->
</head>
<body>

    <h1>fas fa-chess-rook</h1>

    <i class='fas fa-chess-rook'></i>
    <i class='fas fa-chess-rook' style='font-size:24px'></i>
    <i class='fas fa-chess-rook' style='font-size:36px'></i>
    <i class='fas fa-chess-rook' style='font-size:48px;color:red'></i>
    <br>

    <p>Used on a button:</p>
    <button style='font-size:24px'>Button <i class='fas fa-chess-rook'></i></button>

    <p>Unicode:</p>
    <i style='font-size:24px' class='fas'>&#xf447;</i>

</body>
</html>

